* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(253, 239, 209);
}

h1 {
  margin: 20px;
}

h2 {
  border-bottom: 1px solid rgb(120, 120, 120);
  font-size: 20px;
  margin-top: 20px;
  padding-bottom: 15px;
}

p,
ul,
ol {
  padding-top: 20px;
}

ul,
ol {
  text-align: left;
}

li {
  padding-left: 10px;
  margin-bottom: 10px;
}

a {
  display: block;
  padding: 20px 0;
}
