* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 500px;
  background-color: rgb(253, 239, 209);
  text-align: center;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  margin: 20px;
}

h2 {
  border-bottom: 1px solid rgb(120, 120, 120);
  margin-top: 20px;
  padding-bottom: 15px;
}

.recipes {
  margin-top: 15px;
}

.recipes li {
  list-style-type: none;
  margin-bottom: 20px;
}

.description,
.ingredients,
.steps {
  padding-top: 20px;
}

.ingredients,
.steps {
  text-align: left;
}

.ingredients li,
.steps li {
  padding-left: 10px;
  margin-bottom: 10px;
}

.home {
  display: block;
  padding: 20px 0;
}
